<footer class="footer">
    <div class="row">
        <div class="small-12 medium-6 columns">
            <h5>Product Categories</h5>
            <div class="row">
                <div class="small-12 large-6 columns">
                    <ul class="vertical menu">
                        <li><a href="">Cake & Cupcake Stands</a></li>
                        <li><a href="">Cake & Cupcake Toppers</a></li>
                        <li><a href="">Candles &  Holders</a></li>
                        <li><a href="">Centerpiece Sets</a></li>
                        <li><a href="">Confetti</a></li>
                        <li><a href="">Drink & Glassware Decor</a></li>
                        <li><a href="">Guest Books</a></li>
                        <li><a href="">Linens & Runners</a></li>
                    </ul>
                </div>
                <div class="small-12 large-6 columns">
                    <ul class="vertical menu">
                        <li><a href="">Cake & Cupcake Stands</a></li>
                        <li><a href="">Cake & Cupcake Toppers</a></li>
                        <li><a href="">Candles &  Holders</a></li>
                        <li><a href="">Centerpiece Sets</a></li>
                        <li><a href="">Confetti</a></li>
                        <li><a href="">Drink & Glassware Decor</a></li>
                        <li><a href="">Guest Books</a></li>
                        <li><a href="">Linens & Runners</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 columns">
            <div class="row">
                <div class="small-12 large-6 columns">
                    <h5>More Pages</h5>
                    <ul class="vertical menu">
                        <li><a href="">Cake & Cupcake Stands</a></li>
                        <li><a href="">Cake & Cupcake Toppers</a></li>
                        <li><a href="">Candles &  Holders</a></li>
                        <li><a href="">Centerpiece Sets</a></li>
                        <li><a href="">Confetti</a></li>
                        <li><a href="">Drink & Glassware Decor</a></li>
                        <li><a href="">Guest Books</a></li>
                        <li><a href="">Linens & Runners</a></li>
                    </ul>
                </div>
                <div class="small-12 large-6 columns">
                    <h5>Follow Us</h5>
                    {%- assign social_accounts = 'facebook, twitter, pinterest, instagram, ' | split: ', ' -%}
                    <ul class="menu">
                        {% for social in social_accounts %}
                            {%- assign social_handle = social | handleize -%}
                            {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                            {% if settings[social_link] != blank %}
                                <li>
                                    <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                                        <i class="fa fa-{{ social }}"></i>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <p>{{ section.settings.banner }}</p>
                    <form action="#">
                        <input type="email" placeholder="Enter Your Email" required />
                        <button type="submit">Get It</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="copyright">
    <div class="row columns text-center">
        <p><small>{{ section.settings.copyright }}</small></p>
    </div>
</footer>

{% schema %}
{
    "name": "Footer",
    "settings": [{
        "type": "link_list",
        "id": "footer_linklist_1",
        "label": "First Cat Column",
        "default": "footer"
    }, {
        "type": "link_list",
        "id": "footer_linklist_2",
        "label": "Second Cat Column",
        "default": "footer"
    }, {
        "type": "link_list",
        "id": "footer_linklist_3",
        "label": "More Pages",
        "default": "footer"
    }, {
        "type": "text",
        "id": "banner",
        "label": "Banner Text",
        "default": "Want wedding inspiration and savings?"
    }, {
        "type": "html",
        "id": "copyright",
        "label": "Copyright Text",
        "default": "&copy; 2017 Country Chapel Weddings. All rights reserved. <a href='https://www.sayenkodesign.com/'>Seattle Web Design</a> by <a href='https://www.sayenkodesign.com/'>Sayenko Design</a>."
    }]
}

{% endschema %}
