<header class="header" data-section-id="{{ section.id }}" data-section-type="header-section">
  <div class="header-banner primary-bg" role="banner">
    <div class="row align-center-middle">
      <div class="column text-right">{{ section.settings.banner }}</div>
      <form action="#" class="column">
          <input type="email" placeholder="Enter Your Email" required />
          <button type="submit">Get It</button>
      </form>
    </div>
  </div>

  <nav class="large-menu" role="navigation">
    <ul class="horizontal menu align-center">
        {% for link in linklists[section.settings.main_linklist].links %}
            {%- assign child_list_handle = link.title | handleize -%}
            {% if menus[child_list_handle].links != blank %}
              <li class="site-nav--has-submenu {% if link.active %}active{% endif %}">
                <a href="{{ link.url }}">
                    {{ link.title }}
                    {% include 'icon-arrow-down' %}
                </a>
                <ul class="menu">
                    {% for childlink in menus[child_list_handle].links %}
                      <li {% if childlink.active %}class="active"{% endif %}>
                        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                      </li>
                    {% endfor %}
                </ul>
              </li>
            {% else %}
              {% if link.title == "Home" %}
                <li>
                  <a href="{{ link.url }}" class="logo">
                    {% if section.settings.logo %}
                      {{ section.settings.logo  }}
                    {% else %}
                      <img src="https://placeimg.com/217/71/any" alt="placeholder">
                    {% endif %}
                </a>
                </li>
              {% else %}
                <li {% if link.active %}class="active"{% endif %}>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
  </nav>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "banner",
        "label": "Banner Text",
        "default": "Want wedding inspiration and savings?"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
